@media (hover: hover) and (pointer: fine) {
    * {
        *::-webkit-scrollbar {
            width: 8px !important;
            height: 8px !important;
        }
        *:hover::-webkit-scrollbar {
            width: 8px !important;
            height: 8px !important;
        }
    }

    * {
        -webkit-touch-callout: none;
        /* iOS Safari */
        -webkit-user-select: none;
        /* Safari */
        -khtml-user-select: none;
        /* Konqueror HTML */
        -moz-user-select: none;
        /* Firefox */
        -ms-user-select: none;
        /* Internet Explorer/Edge */
        user-select: none;
        /* Non-prefixed version, currently supported by Chrome and Opera */
        *::-webkit-scrollbar {
            width: 8px;
            height: 8px;
            transition: all 0.5s;
            -webkit-transition: all 0.5s;
            // display: none !important;
        }
        *:hover::-webkit-scrollbar {
            width: 8px;
            height: 8px;
            transition: all 0.5s;
            -webkit-transition: all 0.5s;
        }
        *::-webkit-scrollbar-corner {
            background-color: transparent !important;
        }
        *::-webkit-scrollbar-track {
            background-color: rgba(255, 255, 255, 0);
            opacity: 0;
            transition: all 0.5s;
            -webkit-transition: all 0.5s;
        }
        *::-webkit-scrollbar-thumb {
            background-color: rgba(59, 71, 88, 0.377);
            border-radius: 4px;
            transition: all 0.5s;
            -webkit-transition: all 0.5s;
        }
        *::-webkit-scrollbar-thumb:hover {
            background-color: rgba(59, 71, 88, 0.377);
            border-radius: 7px;
            transition: all 0.5s;
            -webkit-transition: all 0.5s;
        }
        *::-webkit-scrollbar-thumb:active {
            background-color: rgba(59, 71, 88, 0.377);
            border-radius: 7px;
            transition: all 0.5s;
            -webkit-transition: all 0.5s;
        }

        * {
            scrollbar-color: rgba(116, 116, 116, 0.212) rgba(255, 255, 255, 0);
            scrollbar-width: thin;
        }
    }
}
